
@{
    ViewBag.Title = "BackOffice";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>BackOffice</h2>

<div class="row">
    <div class="col">
        <button class="form-control">@Html.ActionLink("Adicionar Sábados", "addSat", "Admin")</button>
    </div>

</div>

<div class="row">
    <div class="col">
        <button class="form-control">@Html.ActionLink("Adicionar Staff", "addStaff", "Admin")</button>

    </div>

</div>