
@{
    ViewBag.Title = "StaffCentral";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>StaffCentral</h2>

<div class="row">
    <div class="col">
        <button class="form-control">@Html.ActionLink("Gerir Sábados", "manageSats", "staff")</button>
    </div>

</div>