
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";

}

<h2>Index</h2>

<div class="row">
    @foreach (var i in Model)
    {
    <div class="col-12 col-md-6">
        <p> @i.ToString("dd/MM/yyyy") </p>
    </div>
        
    }
</div>




